section#registrationTime{


.container {
.textTop__registration {
    h3{

    }
    h2{

    }
}
.column__textInner_registration {
    display: flex;

.itemLeft_counter {
    
    p.main__text_registration{
        width: 72px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    p.innerColumnText{
        width: 72px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}
.itemRight_counter {

p.main__text_right_registration {
    width: 580px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: left;
}
p.innerColumnText_Right {
    width: 580px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: left;
    
        img{
    
        }

}
}

}
}
}