section#registrationTime{
background-image: url('../images/mainImage/MainImage2.jpg');
height: 1324px;

.container {
.textTop__registration {
    width: 654px;
    align-items: center;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-left: 48%;
    padding-top: 513px;
    margin-bottom: 2px;
    
    h3{
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 45px;
        color: #FFFFFF;
    }

    h2{
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 45px;
color: #FFFFFF;
display: flex;
margin-right: 10px;

p#countdown{
    font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 45px;
color: #FFFFFF;
margin-left: 10px;
}
    }
}

.column__textInner_registration {
    display: flex;

.itemLeft_counter {
    margin: 234px 0px 39px 758px;
    margin-top: 0px;

    p.main__text_registration{
        a{
            width: 72px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
    background: #F3A917;
    border: 1px solid #F3A917;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
        }
 

    }
    p.innerColumnText{
        a{
            width: 72px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
    background: #292A2F;
    border: 1px solid #F3A917;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
        }
   
    }
}

.itemRight_counter {
    margin: 237px 0px 39px 0px;
    margin-top: 0px;

p.main__text_right_registration {
    a{
        width: 580px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: left;
        font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
    background: #F3A917;
    border: 1px solid #F3A917;
    box-sizing: border-box;
    margin: 0;
    padding-left: 10px;
    text-decoration: none;
    }
  
}

p.innerColumnText_Right {
    width: 580px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 35px;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
background: #292A2F;
border: 1px solid #F3A917;
box-sizing: border-box;
padding-left: 20px;
margin-bottom: 0px;

        img{
    padding-right: 10px;
        }

        p.innerColumnText_Right:hover{
            background-color: #FFFFFF;
        border: 1px solid #F3A917;
        box-sizing: border-box;
        }

}
}
}
.support__column_registration{
    display: flex;
    width: 480px;
    height: 35px;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    margin-left: auto;
    margin-left: 55%;


    p.support{
     

        a{
            text-decoration: none;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 35px;
            color: #FFFFFF;
            flex: none;
            order: 0;
            flex-grow: 0;
        }
    }
}
}
}

section#registrationTime .container .column__textInner_registration .itemRight_counter p.innerColumnText_Right:hover {
    background-color: #fff;
    color: #000;
}